body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
}

.centered-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: rgb(173, 224, 226);
}